.venv/
.azure-appsec-pipeline/
__pycache__/
*.pyc
.env
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json